# Variables de entorno para OSTEOMED
VITE_AGENDA_MODE=whatsapp
VITE_WHATSAPP_NUMBER=56994769217
VITE_EMAIL_DESTINO=osteomedmagallanes@gmail.com
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_DENTALINK_API_KEY=
VITE_GOOGLE_CALENDAR_ID=